body {
    font-family:SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #1d1d1f;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    font-size: 16px;
    width: 100%;
    background: #D6E4FF;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    background-color: white;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

header:hover {
        transform: scale(1.05, 1.05);
        transition: all .6s;
        
        }

.intro, .benefits, .gallery, .testimonials, .cta {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro h2, .benefits h2, .gallery h2, .testimonials h2, .cta h2 {
    margin-top: 0;
}

.benefits ul {
    list-style-type: disc;
    padding-left: 20px;
}

.gallery-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gallery-images img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.testimonial {
    margin: 10px 0;
}

.cta {
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .cta:hover {
        transform: scale(1.05);
        transition: .6s;
        }



